{{extend '../_layouts/home.html'}}

{{block 'title'}}{{'多人博客 - 首页'}}{{/block}}

{{block 'head'}}
<link rel="stylesheet" href="/public/css/markdown-github.css">
<style>
  .panel .panel-heading .action i {
    margin-right: 10px;
  }
</style>
{{/block}}

{{block 'body'}}
<section class="container">
  <div class="row">
    <div class="col-md-9">
      <article class="markdown-body" id="content">
    </article>

      <div class="panel panel-default">
        <div class="panel-heading">
          <span>lipengzhou</span> commented
          <span>24 minutes ago</span>
          <span class="action">
            <a href=""><i class="glyphicon glyphicon-thumbs-up pull-right"></i></a>
            <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
            <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
          </span>
        </div>
        <div class="panel-body">
          评论测试
        </div>
      </div>
      <hr>
      <form>
        <div class="form-group">
          <label for="exampleInputPassword1">添加回复</label>
          <textarea class="form-control" name="" id="" cols="10" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-success">回复</button>
      </form>
    </div>
  </div>
  <input type="hidden" id="id" value={{id}}>
</section>
<script src="/node_modules/jquery/dist/jquery.js"></script>
<script>
  $(function () {
    console.log($("#id").val())
    $.post('/topics/show',{id:$('#id').val()},function (data) {
      if (data.err_code == 0) {
            alert('获取文章失败！')
      }else if (data.err_code == 1) {
        $('#content').html(data.message)
      }
    })
  })
</script>
{{/block}}
